@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.st0 {
  fill: none;
}

button:disabled {
  background-color: slategray;
  color: crimson;
  font-size: 1.2rem;
  font-weight: bold;
  background-image: none;
}
