@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  background: url("img/green-dust-and-scratches.png"), #e6c99f;
  background-size: 20%;
}
